<% if authorized?(session) && !session.new_record? && !session.cancelled %>
	<%= javascript_include_tag 'modal' %>
	<div id="email-dialog" class="content-section">
		<h2>Email All Participants</h2>
		<%= form_tag({:action => 'email'}, { :method => :post }) %>
			<%= label_tag "message_text", "Message Text:", :class => 'field-label' %>
			<%= text_area_tag "message_text", nil, :rows => 10, :cols => 60 %><br/>
			<%= submit_tag "Send" %>
			<%= link_to_function "Cancel", "email_modal.hide()" %>
		</form>
	</div>
	<script type="text/javascript">
		var email_modal = new modal($('email-dialog'));
		$('email-dialog-link').observe('click', function() {
			email_modal.show();
		});
	</script>
<% end %>
