<%= f.hidden_field :topic_id %>
<div id="occurrences">
  <%= f.label :occurrences, "Session Time(s):", :class => 'field-label' %>
  <% f.fields_for :occurrences do |builder| %>
      <%= render "occurrence_fields", :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "add another time", f, :occurrences %></p>
</div>

<div>
  <div class='field-label'>Do you want to limit the Registration Period? [ 
    <%= radio_button_tag( :reg_period_needed, "Yes", @session.registration_period_defined?, :onclick => "revealRegPeriodArea();" ) %><%= label_tag( :reg_period_needed_yes, "Yes")%> 
    <%= radio_button_tag( :reg_period_needed, "No", !@session.registration_period_defined?, :onclick => "hideRegPeriodArea();")%><%= label_tag( :reg_period_needed_no, "No")%> ]
  </div>  
  <div id="registration-period-field" style="<%= @session.registration_period_defined? ? '' : 'display:none' %>">
    <%= f.label :reg_start, "Registration Period Begins:", :class => 'field-label' %>
    <%= f.calendar_date_select :reg_start %>
    
    <%= f.label :reg_end, "Registration Period Ends:", :class => 'field-label' %>
    <%= f.calendar_date_select :reg_end %>
  </div>
</div>

<%= f.label :instructor_id, "Instructor(s):", :class => 'field-label' %>
<% f.fields_for :instructors do |builder| %>
  <%= render "instructor_fields", :f => builder %>
<% end %>
<p><%= link_to_add_fields "add another instructor", f, :instructors %></p>

<%= f.label :seats, "Seats Available (blank for no limit):", :class => 'field-label' %>
<%= f.text_field :seats, :size => 4 %>

<div class="location-block">
  <div class="location-field">
    <%= f.label :location, "Location:", :class => 'field-label' %>
    <%= f.text_field :location %>
  </div>
  
  <div class="site-field">
    <%= f.label :site, t(:'sessions.edit.site_label'), :class => 'field-label' %>
    <%= f.select :site_id, Site.all.collect { |s| [ s.name, s.id ] } %>
  </div>

  <div class="url-field">
    <%= f.label :location_url, "Location Url (optional)", :class => 'field-label' %>
    <%= f.text_field :location_url %>
  </div>
</div>
