<%= f.label :name, "Topic Name:", :class => 'field-label' %>
<%= f.hidden_field :topic_id %>
<%=h @session.topic.name %>

<%= f.label :occurrences, "Session Time(s):", :class => 'field-label' %>
<% f.fields_for :occurrences do |builder| %>
    <%= render "occurrence_fields", :f => builder %>
<% end %>
<p><%= link_to_add_fields "add another time", f, :occurrences %></p>

<div>
  <label class='field-label'>Do you want to limit the Registration Period? [ 
    <%= radio_button_tag( :reg_period_needed, "Yes", @session.registration_period_defined?, :onclick => "revealRegPeriodArea();" ) %><%= label_tag( :reg_period_needed_yes, "Yes")%> 
    <%= radio_button_tag( :reg_period_needed, "No", !@session.registration_period_defined?, :onclick => "hideRegPeriodArea();")%><%= label_tag( :reg_period_needed_no, "No")%> ]
  </label>  
  <div id="registration-period-field" style="<%= @session.registration_period_defined? ? '' : 'display:none' %>">
    <%= f.label :reg_start, "Registration Period Begins:", :class => 'field-label' %>
    <%= f.calendar_date_select :reg_start %>
    
    <%= f.label :reg_end, "Registration Period Ends:", :class => 'field-label' %>
    <%= f.calendar_date_select :reg_end %>
  </div>
</div>

<%= f.label :instructor_id, "Instructor(s):", :class => 'field-label' %>
<ul class="instructor-list">
  <% @session.instructors.each do |instructor| %>
    <li>
      <%= check_box_tag "session[instructor_ids][]", instructor.id, true %>
      <%= h instructor.name_and_login %>
    </li>
  <% end %>
</ul>
<%= text_field_with_auto_complete :session, :instructor_name, { :value => "" }, { :url => users_path( :js ), :method => :get, :with => "'search=' + element.value" } %>

<%= f.label :seats, "Seats Available (blank for no limit):", :class => 'field-label' %>
<%= f.text_field :seats, :size => 4 %>

<%= f.label :location, "Location:", :class => 'field-label' %>
<%= f.text_field :location %>
