<h1><%=h @session.time %>: <%=h @session.topic.name %></h1>

<dl>
	<dt>Time:</dt>
	<dd><%=h @session.time %></dd>
	<dt>Location:</dt>
	<dd><%=h @session.location %></dd>
	<dt>Instructor:</dt>
	<dd><%=h @session.instructor.name %></dd>
	<dt>Description:</dt>
	<dd><%=h @session.topic.description %></dd>
	<dt>Duration:</dt>
	<dd><%=h @session.topic.minutes %> minutes</dd>
	<% if @session.topic.url %>
		<dt>Additional Info:</dt>
		<dd><%= link_to @session.topic.url, @session.topic.url %></dd>
	<% end %>
	<dt>Registration:</dt>
	<dd>
		<% if @numberRegistered == 0 %>
		Nobody has registered for this session yet.
		<% elsif @numberRegistered == 1 %>
			There is currently 1 person registered for this session.
		<% else %>
			There are currently <%=h @numberRegistered %> people registered for this session.
		<% end %>
		
		<% if @seatsRemaining == 0 %>
			Registration for this class is full.
		<% elsif @seatsRemaining == 1 %>
			There is one seat still available for this session. <!-- TODO: Registration link -->
		<% else %>
			There are <%=h @seatsRemaining %> seats still available for this session. <!-- TODO: Registration link -->
		<% end %>
	</dd>
</dl>