<dl>
	<dt>Time:</dt>
	<dd><%=h @session.time %></dd>
	<dt>Location:</dt>
	<dd><%=h @session.location %></dd>
	<dt>Instructor:</dt>
	<dd><%=h @session.instructor.name %></dd>
	<dt>Description:</dt>
	<dd><%=h @session.topic.description %></dd>
	<dt>Duration:</dt>
	<dd><%=h @session.topic.minutes %> minutes</dd>
	<% if @session.topic.url %>
		<dt>Additional Info:</dt>
		<dd><%= link_to @session.topic.url, @session.topic.url %></dd>
	<% end %>
	<dt>Registration:</dt>
	<dd>
		<% if @numberRegistered == 0 %>
			Nobody has registered for this session yet.
		<% elsif @numberRegistered == 1 %>
			There is currently 1 person registered for this session.
		<% else %>
			There are currently <%=h @numberRegistered %> people registered for this session.
		<% end %>
		
		<% if @seatsRemaining != nil %>
			<% if @seatsRemaining == 0 %>
				Registration for this class is full.
			<% elsif @seatsRemaining == 1 %>
				There is one seat still available for this session.
			<% else %>
				There are <%=h @seatsRemaining %> seats still available for this session.
			<% end %>
		<% end %>
		
		<% if @current_user_registered %>
			You are registered for this session.
		<% else %>		
			<% if @session.space_is_available? %>
				<%= link_to "Register", new_session_reservation_path( @session ) %>
			<% end %>
		<% end %>
	</dd>
</dl>

<% if user_is_admin? or user_is_instructor?( @session ) %>
	<div class="deleteLink">
		<%= link_to "Cancel Session", @session, :confirm => "Are you sure you want to cancel this class? All registered attendees will be notified that the session has been cancelled.", :method => :delete %>
	</div>
<% end %>