<dl>
	<dt>Topic:</dt>
	<dd><%= link_to @session.topic.name, @session.topic%></dd>
	<dt>Time:</dt>
	<dd><%=h @session.time %></dd>
	<dt>Location:</dt>
	<dd><%=h @session.location %></dd>
	<dt>Instructor:</dt>
	<dd><%=h @session.instructor.name %></dd>
	<dt>Description:</dt>
	<dd><%= simple_format( h( @session.topic.description ) ) %></dd>
	<dt>Duration:</dt>
	<dd><%=h @session.topic.minutes %> minutes</dd>
	<dt>Department:</dt>
	<dd><%=link_to @session.topic.department.name, @session.topic.department %></dd>
	<% if !@session.topic.url.blank? %>
		<dt>Additional Info:</dt>
		<dd><%= link_to @session.topic.url, @session.topic.url %></dd>
	<% end %>
	<dt>Registration:</dt>
	<dd>
		<%=h @session.confirmed_reservations.size %>
		<% if @session.seats %>
			/ <%=h @session.seats %>
		<% end %> 
		registered
		<% if @session.waiting_list.size > 0 %>
			(<%=h @session.waiting_list.size %> waiting)
		<% end %>
	</dd>
</dl>

<% if @reservation %>
	<% if @reservation.confirmed? %>
		<p>You are registered for this session. </p>
	<% else %>
		<p>You are on the waiting list for this session.</p>
	<% end %>
	<div class="button-link confirm">
		<%= link_to "download to calendar", { :controller => :reservations, :action => :download, :id => @reservation.id } %>
	</div>
	<div class="button-link delete">
		<%= link_to "cancel reservation", @reservation, :method => :delete, :confirm => "Are you sure you want to cancel your reservation for \"" + @reservation.session.topic.name + "\"?"%>
	</div>
	
<% else %>		
	<% if @session.space_is_available? %>
		<div class="button-link confirm">
			<%= link_to "Register", new_session_reservation_path( @session ) %>
		</div>
		
	<% else %>
		<div class="button-link tentative">
			<%= link_to "add to waiting list", new_session_reservation_path( @session ) %>
		</div>
	<% end %>
<% end %>

<% if ( current_user && current_user.admin? ) or @session.instructor == current_user %>
<div class="admin-options">
	<h2><%= image_tag('advancedsettings.png') %> Instructor/Admin Options</h2>
	<% if @session.confirmed_reservations.size > 0 %>
		<div class="admin-section">
			<h3>Reservations:</h3>
			<% form_for @session, :url => { :action => "update" } do |session_form| %>
				<ul style="line-height: 1.5em">
				<% @session.confirmed_reservations.each do |reservation| %>
					<% session_form.fields_for :reservations, reservation do |reservation_fields|%>
						<li><span class="radio-span">
							<%= reservation_fields.radio_button :attended, Reservation::ATTENDANCE_UNKNOWN %>
							<%= reservation_fields.label :attended_0, '?' %>
							</span><span class="radio-span">
							<%= reservation_fields.radio_button :attended, Reservation::ATTENDANCE_ATTENDED %>
							<%= reservation_fields.label :attended_2, 'Attended' %>
							</span><span class="radio-span">
							<%= reservation_fields.radio_button :attended, Reservation::ATTENDANCE_MISSED %>
							<%= reservation_fields.label :attended_1, 'Missed' %>
							</span>
							<%= link_to reservation.user.name, 'mailto:' + reservation.user.email %>
							<%=h ', ' + reservation.user.department if !reservation.user.department.blank? %>
							<% if !reservation.special_accommodations.blank? %>
								: <span class="special-accommodations">(<%=h reservation.special_accommodations %>)</span>
							<% end %>
						</li>
					<% end %>
				<% end%>
				</ul>
				<%= submit_tag "Record Attendance" %>
			<% end %>
		</div>
	<% end %>

	<% if @session.waiting_list.size > 0 %>
		<div class="admin-section">
			<h3>Waiting List:</h3>
			<ul>
			<% @session.waiting_list.each do |reservation| %>
				<li><%=h reservation.user.name %> &lt;<%=h reservation.user.email %>&gt;</li>
			<% end%>
			</ul>
		</div>
	<% end %>
	
	<div class="admin-section">
		<h3>Update Details:</h3>
		<% form_for @session, :url => { :action => "update" } do |f| %>
			<%= render :partial => "form_fields", :locals => { :f => f }%>

			<br/><%= submit_tag "Make Changes" %>
		<% end %>
	</div>
	
	<% if @session.time > Time.now %>
		<div class="admin-section">
			<h3>Enroll Another Person:</h3>
			<%= form_tag :controller => :reservations, :action => :create, :session_id => @session.id %>
				<%= label_tag "user_login", "Login ID:", :class => 'field-label' %>
				<%= text_field_tag "user_login", nil, :size => 7 %><br/>
				<%= submit_tag "Enroll" %>
			</form>
		</div>
	<% end %>
	
	<%= render :partial => "survey_responses/survey_summary", :locals => { :model_object => @session }%>

	<div class="button-link delete">
		<%= link_to "cancel session", @session, :confirm => "Are you sure you want to cancel this class? All registered attendees will be notified that the session has been cancelled.", :method => :delete %>
	</div>
</div>
<% end %>