<% content_for :head do %>
  <% if @session.cancelled? || @session.in_past? %>
    <meta name="robots" content="noindex">
  <% end %>
<% end %>

<div id="session-details" class="content-section">
  <h2>Session Details</h2>
  <dl>
    <dt>Time:</dt>
  	<% if @session.multiple_occurrences? %>
      <dd>This session meets <%= @session.occurrences.count %> times:</dd>
    <% end %>
    <% @session.occurrences.each do |o| %>
      <dd><%=h formatted_time_range(o.time, @session.topic.minutes) %></dd>
    <% end %>
  	<% if @session.topic.upcoming_sessions.size > 1 %>
  	  <dd><%= link_to 'Need to look for another session?', @session.topic %></dd>
    <% end %>
  	<% if @session.registration_period_defined? %>
    	<dt>Registration Period:</dt>
    	<dd><%=h registration_period(@session) %></dd>
  	<% end %>
  	<dt>Location:</dt>
  	<dd><span class="location"><%=h @session.location %></span><span class="site"><%=h @session.site.name if @session.site %></span></dd>
  	<% if @session.instructors.size > 1 %>
  	  <dt>Instructors:</dt>
	  <% else %>
	    <dt>Instructor:</dt>
	  <% end %>
  	<dd>
  	  <ul class="instructor-list">
  	    <% @session.instructors.each do |instructor| %>
  	      <li>
  	        <span class="instructor-name"><%= link_to_user_directory(instructor) %></span>
  	        <span class="instructor-info"><%= instructor.title_and_department %></span>
  	      </li>
  	    <% end %>
  	  </ul>
  	</dd>
  	<dt>Registration:</dt>
  	<dd>
  		<%=h @session.confirmed_reservations.size %>
  		<% if @session.seats %>
  			/ <%=h @session.seats %>
  		<% end %> 
  		registered
  		<% if @session.waiting_list.size > 0 %>
  			(<%=h @session.waiting_list.size %> waiting)
  		<% end %>
  		
  		<% if @reservation %>
  		  <% if @reservation.attended == Reservation::ATTENDANCE_ATTENDED %>
  		    <p>You attended this session. <%= survey_link(@reservation) %></p>
  		  <% elsif @reservation.attended == Reservation::ATTENDANCE_MISSED %>
		    <p>You registered for this session, but were marked absent. </p>
				<% else %>
  		  	<% if @reservation.confirmed? %>
  		  		<p>You are registered for this session. <%= survey_link(@reservation) %></p>
  		  	<% else %>
  		  		<p>You are on the waiting list for this session.</p>
  		  	<% end %>
  		  	<div class="download-link download-calendar">
  		  		<%= link_to "Add reservation to calendar", { :controller => :reservations, :action => :download, :id => @reservation.id } %>
  		  	</div>
  		  	<%- if @reservation.session.time > Time.now -%>
    		  	<%= link_to_edit_reservation(@reservation) %>
    		  	<div class="delete-link">
	  		  		<%= link_to "Cancel Reservation", @reservation, :method => :delete, :confirm => "Are you sure you want to cancel your reservation for \"" + @reservation.session.topic.name + "\"?" %>
	  		  	</div>
  		  	<%- end -%>
  		  <% end %>	
  		<% elsif @session.in_registration_period? %>		

        <%  if current_user %>
          <% if @session.space_is_available? %>
            <div class="register-button">
              <% form_tag(session_reservations_path( @session )) do %>
                <%= submit_tag "Register Now", :class => 'register-button' %>
              <% end %>
            </div>

          <% else %>
            <div class="notice">NOTICE: This class is full! However, you can still put yourself on the waiting
              list. If space becomes available in the class, you will be automatically
              registered and notified by email.
            </div>
            <div class="register-button">
              <%#= link_to "Add to Waiting List", new_session_reservation_path( @session ), :class => 'register-button' %>
              <% form_tag(session_reservations_path( @session )) do %>
                <%= submit_tag "Add to Waiting List", :class => 'register-button' %>
              <% end %>
            </div>
          <% end %>
        <% else %>
          <div class="login-link">
            <%= link_to "Log in to register", login_path %>
          </div>
        <% end %>
			<% else %>
			  <p>Registration is closed for this session.</p>
  		<% end %>
  	</dd>
  </dl>
</div>

<div id="topic-details" class="content-section">
  <h2>Topic Details</h2>
  <dl>
  	<dt>Topic:</dt>
  	<dd><%= link_to @session.topic.name, @session.topic%></dd>
    <dt>Description:</dt>
  	<dd class="topic-description"><%= auto_link( simple_format( h( @session.topic.description ) ) ) %></dd>
  	<dt>Duration:</dt>
  	<dd><%=h @session.topic.minutes %> minutes</dd>
  	<dt>Department:</dt>
  	<dd><%=link_to @session.topic.department.name, @session.topic.department %></dd>
  	<% if !@session.topic.url.blank? %>
  		<dt>Additional Info:</dt>
  		<dd><%= link_to @session.topic.url, @session.topic.url %></dd>
  	<% end %>
    <% if !@session.topic.documents.blank? %>
      <dt>Workshop Materials:</dt>
      <% @session.topic.documents.each do |document| %>
        <dd><%= link_to document.friendly_name, document.item.url %></dd>
      <% end %>
    <% end %>
  </dl>
</div>
