<%= f.label :name, "Topic Name:", :class => 'field-label' %>
<%= f.text_field :name, :size => 80 %>

<%= f.label :description, "Description of Topic:", :class => 'field-label' %>
<%= f.text_area :description, :cols => 80, :rows => 20 %>

<%= f.label :tag_list, "Tags", :class => 'field-label' %>
<%= f.text_field :tag_list, :size => 80 %>

<%= f.label :department_id, "Department:", :class => 'field-label' %>

<%= department_select(f) %>

<%= f.label :minutes, "Class time in Minutes:", :class => 'field-label' %>
<%= f.text_field :minutes, :size => 3 %>

<%= f.label :url, "URL with More Information on Class:", :class => 'field-label' %>
<%= f.text_field :url, :size => 80 %>

<div class="survey-options">
	<label class="field-label">Post-Class Survey:</label>
	<span class="radio-span">
		<%= f.radio_button :survey_type, Topic::SURVEY_NONE %>
		<%= f.label :survey_type_0, 'None' %>
	</span>

	<span class="radio-span">
		<%= f.radio_button :survey_type, Topic::SURVEY_INTERNAL %>
		<%= f.label :survey_type_1, 'Automatic' %>
	</span>

	<span class="radio-span">
		<%= f.radio_button :survey_type, Topic::SURVEY_EXTERNAL %>
		<%= f.label :survey_type_2, 'External' %>
	</span>
	
	<div class="survey-external" id="survey-external">
		<%= f.label :survey_url, "External Survey URL:", :class => 'field-label' %>
		<%= f.text_field :survey_url %>
	</div>
</div>

<div class="certificate-options">
	<label class="field-label">Certificate of Completion:</label>
	<span class="radio-span">
		<%= f.radio_button :certificate, false %>
		<%= f.label :certificate_false, 'No' %>
	</span>
	<span class="radio-span">
		<%= f.radio_button :certificate, true %>
		<%= f.label :certificate_true, 'Yes' %>
	</span>
</div>

<div class="workshop-materials">
  <label class="field-label">Workshop Materials:</label>
	<% f.fields_for :documents do |builder| %>
	  <div class="fields">
      <%= link_to_document builder.object, :class => 'document' %>
      <%= link_to_remove_fields "remove", builder, :class => 'remove' %>
    </div>
	<% end %>
	<p class="add-fields"><%= link_to_add_fields "upload new material", f, :documents %></p>
</div>
