<%= f.label :name, "Topic Name:", :class => 'field-label' %>
<%= f.text_field :name %>

<%= f.label :description, "Description of Topic:", :class => 'field-label' %>
<%= f.text_area :description %>

<%= f.label :department_id, "Department:", :class => 'field-label' %>
<%= f.collection_select :department_id, Department.all, :id, :name, { :include_blank => true } %>

<%= f.label :minutes, "Class time in Minutes:", :class => 'field-label' %>
<%= f.text_field :minutes, :size => 3 %>

<%= f.label :url, "URL with More Information on Class:", :class => 'field-label' %>
<%= f.text_field :url %>

<div class="survey-options">
	<label class="field-label">Post-Class Survey:</label>
	<span class="radio-span">
		<%= f.radio_button :survey_type, Topic::SURVEY_NONE %>
		<%= f.label :survey_type_0, 'None' %>
	</span>

	<span class="radio-span">
		<%= f.radio_button :survey_type, Topic::SURVEY_INTERNAL %>
		<%= f.label :survey_type_1, 'Automatic' %>
	</span>

	<span class="radio-span">
		<%= f.radio_button :survey_type, Topic::SURVEY_EXTERNAL %>
		<%= f.label :survey_type_2, 'External' %>
	</span>
	
	<div class="survey-external" id="survey-external">
		<%= f.label :survey_url, "External Survey URL:", :class => 'field-label' %>
		<%= f.text_field :survey_url %>
	</div>
</div>

<div class="workshop-materials">
  <label class="field-label">Workshop Materials:</label>
	<% f.fields_for :documents do |builder| %>
	  <div class="fields">
      <%= link_to builder.object.friendly_name, builder.object.item.url, :class => 'document' %>
      <%= link_to_remove_fields "remove", builder, :class => 'remove' %>
    </div>
	<% end %>
	<p class="add-fields"><%= link_to_add_fields "upload new material", f, :documents %></p>
</div>