<% content_for :sidebar do %>
  <div class="download-link download-calendar">
    <%= link_to "[add all topics to calendar]", :protocol => "webcal", :controller => 'sessions', :host => request.host, :port => request.port, :action => 'download' %>
  </div>
<% end %>
   
<% content_for :admin_tools do %>
  <% if session[:filter] == 'upcoming' %>
    <p><%= link_to "Show All Topics", '/topics/filter/all' %></p>
  <% else %>
    <p><%= link_to "Hide Inactive Topics", '/topics/filter/upcoming' %></p>
  <% end %>
<% end %>

<div id="group-by-dept" class="notice"><%= link_to '(group by department)', departments_path %></div>

<ul id="topic-list">
	<% @topics.each do |topic| %>
		<li>
			<%= link_to topic.name, topic %>
			<% if topic.upcoming_sessions.present? %>				
				<div class="session-info"><%= link_to_session topic.upcoming_sessions[0] %></div>
			<% end %>
		</li>
	<% end %>
</ul>

