<ul id="topic-list">
	<% @topics.each do |topic| %>
		<li>
			<%= link_to topic.name, topic %>
		</li>
	<% end %>
</ul>

<div class="notice">You can also browse topics <%= link_to 'by department', departments_path %>.</div>

<div class="download-link download-calendar"><%= link_to "Subscribe to Calendar", :protocol => "webcal", :controller => 'sessions', :host => request.host, :port => request.port, :action => 'download' %></div>

<% if current_user && current_user.admin? %>
<div class="admin-options">
	<h2><%= image_tag('advancedsettings.png') %> Admin Options</h2>
	<div class="button-link confirm"><%= link_to "Create New Topic", new_topic_path %></div>
</div>
<% end %>
