<% content_for :head do %>
  <% if @topic.inactive? %>
    <meta name="robots" content="noindex">
  <% end %>
<% end %>

<div id="session-details" class="session-list content-section">
  <h2>Upcoming Sessions
    <%= link_to( 
        "Subscribe to the XML feed for this topic",
         topic_path(@topic, :format => :atom),
         :class => 'feed-link') %>
  </h2>
  <% if @topic.upcoming_sessions.present? %>
    <%= session_list(@topic.upcoming_sessions) %>
  <% else %>
    There are no sessions scheduled at this time.
  <% end %>
</div>

<div id="topic-details" class="content-section">
  <h2>Topic Details</h2>
  <dl>
    <dt>Description:</dt>
    <dd class="topic-description"><%= auto_link( simple_format( h( @topic.description ) ) ) %></dd>
    <dt>Duration:</dt>
    <dd><%=h @topic.minutes %> minutes</dd>
    <dt>Department:</dt>
    <dd><%=link_to @topic.department.name, @topic.department if !@topic.department.blank? %></dd>
    <% if !@topic.url.blank? %>
      <dt>Additional Info:</dt>
      <dd><%= link_to @topic.url, @topic.url %></dd>
    <% end %>
    <% if !@topic.documents.blank? %>
      <dt>Workshop Materials:</dt>
      <% @topic.documents.each do |document| %>
        <dd><%= link_to_document(document) %></dd>
      <% end %>
    <% end %>
  </dl>
</div>

<div id="past-session-details" class="session-list content-section">
<% if authorized?(@topic) && @topic.past_sessions.present? %>
  <h2>Past Sessions</h2>
  <%= session_list(@topic.past_sessions.reverse) %>
<% end %>
</div>
