<div id="session-details" class="session-list content-section">
  <h2>Upcoming Sessions</h2>
  <% if @topic.upcoming_sessions.size > 0 %>
    <%= session_list(@topic.upcoming_sessions) %>
  <% else %>
    There are no sessions scheduled at this time.
  <% end %>
</div>

<div id="topic-details" class="content-section">
  <h2>Topic Details</h2>
  <dl>
    <dt>Description:</dt>
    <dd><%= auto_link( simple_format( h( @topic.description ) ) ) %></dd>
    <dt>Duration:</dt>
    <dd><%=h @topic.minutes %> minutes</dd>
    <dt>Department:</dt>
    <dd><%=link_to @topic.department.name, @topic.department if !@topic.department.blank? %></dd>
    <% if !@topic.url.blank? %>
      <dt>Additional Info:</dt>
      <dd><%= link_to @topic.url, @topic.url %></dd>
    <% end %>
    <% if !@topic.documents.blank? %>
      <dt>Workshop Materials:</dt>
      <% @topic.documents.each do |document| %>
        <dd><%= link_to document.friendly_name, document.item.url %></dd>
      <% end %>
    <% end %>
  </dl>
</div>

<div id="past-session-details" class="session-list content-section">
<% if @topic.past_sessions.size > 0 && current_user && current_user.admin? %>
  <h2>Past Sessions</h2>
  <%= session_list(@topic.past_sessions.reverse) %>
<% end %>
</div>

<% if ( current_user && current_user.admin? ) %>
<div class="admin-options">
	<p>NOTE: Admin options are now accessed through the <strong>ADMIN TOOLS</strong> sidebar on the left.</p>
</div>
<% end %>