<dl>
	<dt>Description:</dt>
	<dd><%=h @topic.description %></dd>
	<dt>Duration:</dt>
	<dd><%=h @topic.minutes %> minutes</dd>
	<% if !@topic.url.blank? %>
		<dt>Additional Info:</dt>
		<dd><%= link_to @topic.url, @topic.url %></dd>
	<% end %>
	<dt>Upcoming Sessions:</dt>
	<dd>
		<% if @topic.upcoming_sessions.size > 0 %>
			<% @topic.upcoming_sessions.each do |session| %>
				<%= link_to session.time, session %><br/>
			<% end %>
		<% else %>
			There are no sessions scheduled at this time.
		<% end %>
	</dd>
</dl>

<% if user_is_admin? %>
	<div class="button-link confirm"><%= link_to "Create New Session", new_topic_session_path( @topic ) %></div>
<% end %>