<%= error_messages_for 'department' %>
<div>
  <%= f.label :name, "Department Name:", :class => 'field-label' %>
  <%= f.text_field :name, :size => 80 %>

  <%= f.label :permissions, "Users:", :class => 'field-label' %>
  <% f.fields_for :permissions do |builder| %>
    <%= render "permission_fields", :f => builder %>
  <% end %>
  <p><%= link_to_add_fields "add another user", f, :permissions %></p>

</div>