<%= error_messages_for 'reservation' %>

		
		<% form_for( @reservation ) do |f| %>
			<dl>
				<dt>Topic:</dt>
				<dd><%=h @reservation.session.topic.name %></dd>
        <dt>Time:</dt>
        <% if @reservation.session.multiple_occurrences? %>
          <dd>This session meets <%= @reservation.session.occurrences.count %> times:</dd>
        <% end %>
        <% @reservation.session.occurrences.each do |o| %>
          <dd><%=h formatted_time_range(o.time, @reservation.session.topic.minutes) %></dd>
        <% end %>
				<dt>Your Contact Information:</dt>
				<dd><%=h current_user.name %> (<%=h current_user.email %>)</dd>
				<dt>Special Accommodations Needed (optional):</dt>
				<dd>
					Include details on what sort of special accommodations you require here.
					<br/>They will be emailed to your instructor.
					<div id="special-accommodations-field">
						<%= f.text_area :special_accommodations, :cols => 64, :rows => 10 %>
					</div>
				</dd>
			</dl>
      <br/>
			<%= submit_tag "Make Changes" %>
		<% end %>
		<br/>
		<div ><%= link_to "Cancel", @reservation.session %></div>
	