<h1>Listing reservations</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Session</th>
      <th>Cancelled</th>
      <th>Attended</th>
      <th>Special accommodations</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @reservations.each do |reservation| %>
      <tr>
        <td><%= reservation.user %></td>
        <td><%= reservation.session %></td>
        <td><%= reservation.cancelled %></td>
        <td><%= reservation.attended %></td>
        <td><%= reservation.special_accommodations %></td>
        <td><%= link_to 'Show', reservation %></td>
        <td><%= link_to 'Edit', edit_reservation_path(reservation) %></td>
        <td><%= link_to 'Destroy', reservation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reservation', new_reservation_path %>
