<% if @confirmed_reservations.size == 0  && @waiting_list_signups.size == 0 %>
	<div class="empty-list">
    <p>You don't have any upcoming reservations. Why don't you <%= link_to "take a look at the available topics", topics_path %>
	    and see what looks interesting?</p>
	</div>
<% else %>
	<% if @confirmed_reservations.size > 0 %>
		<div class="reservation-group">
			<h2>Confirmed Reservations</h2>
			<ul class="reservation-list">
				<% @confirmed_reservations.each do |reservation| %>
					<li>
						<div>
							<div class="reservation-name">
								<%= link_to formatted_time_range(reservation.session.next_time, reservation.session.topic.minutes), reservation.session %><br/><%= link_to reservation.session.topic.name, reservation.session.topic %>
							</div>
              <div class="download-link download-calendar">
                <%= link_to "[add reservation to calendar]", :controller => :reservations, :action => :download, :id => reservation.id %>
              </div>
							<div class="delete-link">
								<%= link_to "Cancel Reservation", reservation, :method => :delete, :confirm => "Are you sure you want to cancel your reservation for \"" + reservation.session.topic.name + "\"?"%>
							</div>
						</div>
					</li>
				<% end %>
			</ul>
		</div>
	<% end %>

	<% if @waiting_list_signups.size > 0 %>
	<div class="reservation-group">
		<h2>Waiting List Signups</h2>
		<ul class="reservation-list">
			<% @waiting_list_signups.each do |reservation| %>
				<li>
					<div>
						<div class="reservation-name">
							<%= link_to formatted_time_range(reservation.session.time, reservation.session.topic.minutes), reservation.session %><br/><%= link_to reservation.session.topic.name, reservation.session.topic %>
						</div>
              <div class="download-link download-calendar">
                <%= link_to "[add reservation to calendar]", :controller => :reservations, :action => :download, :id => reservation.id %>
              </div>
						<div class="delete-link">
							<%= link_to "Remove Name From Waiting List", reservation, :method => :delete, :confirm => "Are you sure you want to remove your name from the waiting list for \"" + reservation.session.topic.name + "\"?"%>
						</div>
					</div>
				</li>
			<% end %>
		</ul>
	</div>
	<% end %>

<% end %>

<% if @past_reservations.size > 0 %>
<div class="reservation-group">
  <h2>Past Sessions</h2>
  <ul class="reservation-list">
    <% @past_reservations.each do |reservation| %>
      <li>
        <div>
          <div class="reservation-name">
            <%= link_to formatted_time_range(reservation.session.time, reservation.session.topic.minutes), reservation.session %><br/><%= link_to reservation.session.topic.name, reservation.session.topic %>
          </div>
        </div>
      </li>
    <% end %>
  </ul>
</div>
<% end %>

<% content_for :admin_tools do %>
  <div>
    <h3>View Another Person:</h3>
    <% form_tag({:controller => :reservations, :action => :index}, :method => "get") do %>
      <%= label_tag "user_login", "Net ID", :class => "admin-netid-label" %>
      <%= text_field_tag "user_login", nil, :size => 7 %>
      <%= submit_tag "Go" %>
    <% end %>
  </div>
<% end %>
