<% if @reservations.size == 0 %>
	You don't have any upcoming reservations. Why don't you <%= link_to "take a look at the available topics", topics_path %>
	and see what looks interesting?
<% else %>
	<ul id="reservation-list">
		<% @reservations.each do |reservation| %>
			<li>
				<div>
					<div class="reservation-name">
						<%= link_to reservation.session.time, reservation.session %>: <%= link_to reservation.session.topic.name, reservation.session.topic %>
					</div>
					<div class="button-link confirm">
						<%= link_to "download to calendar", { :controller => :reservations, :action => :download, :id => reservation.id } %>
					</div>
					<div class="button-link delete">
						<%= link_to "cancel reservation", reservation, :method => :delete, :confirm => "Are you sure you want to cancel your reservation for \"" + reservation.session.topic.name + "\"?"%>
					</div>
				<div>
			</li>
		<% end %>
	</ul>
<% end %>