<%= error_messages_for 'reservation' %>

	<div class="reservationContainer">
		
		<% if !@session.space_is_available? %>
		<div class="notice">NOTICE: This class is full! However, you can still put yourself on the waiting
			list. If space becomes available in the class, you will be automatically
			registered and notified by email.</div>
		<% end %>
		<% form_for( [ @session, @reservation ] ) do |f| %>
			<div class="reservationCard">
				<% if @session.space_is_available? %>
					<h2>Your Reservation</h2>
				<% else %>
					<h2>Waiting List Signup</h2>
				<% end %>
				<dl>
					<dt>What:</dt>
					<dd><%=h @session.topic.name %></dd>
					<dt>When:</dt>
					<dd><%=h @session.time %></dd>
					<dt>Who:</dt>
					<dd><%=h current_user.name %> (<%=h current_user.email %>)</dd>
					<dt>Special Accommodations Needed (optional):</dt>
					<dd>
						Do you need accommodations? [ 
							<%= radio_button_tag( :accommodations_needed, "Yes", nil, :onclick => "revealAccommodationsArea();" ) %><%= label_tag( :accommodations_needed_yes, "Yes")%> 
							<%= radio_button_tag( :accommodations_needed, "No", true, :onclick => "hideAccommodationsArea();")%><%= label_tag( :accommodations_needed_no, "No")%> ]
						<div id="special-accommodations-field" style="display:none">
							<%= f.text_area :special_accommodations, :cols => 40, :rows => 4 %><br/>
							Include details on what sort of accommodations you require here.
						</div>
					</dd>
				</dl>
			</div>

			<% if @session.space_is_available? %>
				<%= submit_tag "Confirm Reservation", :class => "confirm submit-button" %>
			<% else %>
				<%= submit_tag "Confirm Waiting List Signup", :class => "tentative submit-button" %>
			<% end %>
		<% end %>
		<div class="button-link delete"><%= link_to "Cancel Reservation", @session.topic %></div>
	</div>
