<%= error_messages_for 'reservation' %>

		
		<% form_for( [ @session, @reservation ] ) do |f| %>
			<dl>
				<dt>Topic:</dt>
				<dd><%=h @session.topic.name %></dd>
        <dt>Time:</dt>
        <% if @session.multiple_occurrences? %>
          <dd>This session meets <%= @session.occurrences.count %> times:</dd>
        <% end %>
        <% @session.occurrences.each do |o| %>
          <dd><%=h formatted_time_range(o.time, @session.topic.minutes) %></dd>
        <% end %>
				<dt>Your Contact Information:</dt>
				<dd><%=h current_user.name %> (<%=h current_user.email %>)</dd>
				<dt>Special Accommodations Needed (optional):</dt>
				<dd>
					Do you need accommodations? [ 
						<%= radio_button_tag( :accommodations_needed, "Yes", nil, :onclick => "revealAccommodationsArea();" ) %><%= label_tag( :accommodations_needed_yes, "Yes")%> 
						<%= radio_button_tag( :accommodations_needed, "No", true, :onclick => "hideAccommodationsArea();")%><%= label_tag( :accommodations_needed_no, "No")%> ]
					<div id="special-accommodations-field" style="display:none">
						<%= f.text_area :special_accommodations, :cols => 40, :rows => 4 %><br/>
						Include details on what sort of accommodations you require here.
					</div>
				</dd>
			</dl>
      <br/>
			<% if @session.space_is_available? %>
				<%= submit_tag "Confirm Reservation" %>
			<% else %>
        <div class="notice">NOTICE: This class is full! However, you can still put yourself on the waiting
          list. If space becomes available in the class, you will be automatically
          registered and notified by email.
        </div>
				<%= submit_tag "Confirm Waiting List Signup" %>
			<% end %>
		<% end %>
		<br/>
		<div ><%= link_to "Cancel", @session.topic %></div>
	