<%- except ||= [] -%>
<div class="reservationContainer">
  <div class="reservationCard">
    <h2><%= title ||= "Your Reservation" %></h2>
    <dl>
      <dt>What:</dt>
      <dd><%=h session.topic.name %></dd>
      <dt>When:</dt>
      <%- if session.multiple_occurrences? -%>
        <dd>This session meets <%= session.occurrences.count %> times:</dd>
      <%- end -%>
      <%- session.occurrences.each do |o| -%>
        <dd><%=h formatted_time_range(o.time, session.topic.minutes) %></dd>
      <%- end -%>
      <%- unless (except.include? :where) -%>
        <dt>Where:</dt>
        <dd><%=h session.loc_with_site %></dd>
      <%- end -%>
      <%- unless (except.include? :who) -%>
      <dt>Who:</dt>
      <dd><%=h user.name %></dd>
      <%- end -%>
      <%- unless (except.include? :description) -%>
        <dt>Description:</dt>
        <dd class="topic-description"><%= auto_link( simple_format( h( session.topic.description ) ) ) %></dd>
      <%- end -%>
      <%- if !except.include?(:documents) && session.topic.documents.present? -%>
        <dt>Download Class Materials:</dt>
        <%- session.topic.documents.each do |d| -%>
          <dd><%= link_to_document d, :url => ReservationMailer.absolute_url(d.item.url) %></dd>
        <%- end -%>
      <%- end -%>
    </dl>
  </div>
</div>
