<%- except ||= [] -%>
<div class="reservationContainer">
  <div class="reservationCard">
    <h2><%= title ||= "Your Reservation" %></h2>
    <dl>
      <dt>What:</dt>
      <dd><%=h session.topic.name %></dd>
      <dt>When:</dt>
      <%- if session.multiple_occurrences? -%>
        <dd>This session meets <%= session.occurrences.count %> times:</dd>
      <%- end -%>
      <%- session.occurrences.each do |o| -%>
        <dd><%=h formatted_time_range(o.time, session.topic.minutes) %></dd>
      <%- end -%>
      <%- unless (except.include? :where) -%>
        <dt>Where:</dt>
        <%- if session.location_url.present? -%>
          <dd><%= link_to session.loc_with_site, session.location_url %></dd>
        <%- else -%>
          <dd><%= auto_link( h(session.loc_with_site) ) %></dd>
        <%- end -%>
      <%- end -%>
      <%- unless (except.include? :who) -%>
      <dt>Who:</dt>
      <dd><%=h user.name %></dd>
      <%- end -%>
      <%- unless (except.include? :description) -%>
        <dt>Description:</dt>
        <dd class="topic-description"><%= auto_link( simple_format( h( session.topic.description ) ) ) %></dd>
        <% if !session.topic.tags.blank? %>
        
          <dt>Tags:</dt>
          <dd>
            <%= session.topic.sorted_tags.map do |t| 
                  link_to t, tag_url(t)
                end.join(', ').html_safe
            %>
          </dd>
        
        <% end %>
      <%- end -%>
      <%- if !except.include?(:documents) && session.topic.documents.present? -%>
        <dt>Download Class Materials:</dt>
        <%- session.topic.documents.each do |d| -%>
          <dd>
            <%= link_to_document d %>
          </dd>
        <%- end -%>
      <%- end -%>
    </dl>
  </div>
</div>
