<html>
<head>
  <title>Reservation Confirmation</title>
  <%= render :partial => "style" %>
</head>
<body>

<p>Hi there <%= @user.name %>,</p>

<p>Sad news: the session on "<%= @session.topic.name %>" for which you
  had signed up has been cancelled.</p>

<% if @custom_message.present? %>
  <p><%= @custom_message %></p>
<%end%>
  
<p>If you'd like to sign up to take the class at a different time, you can
  see a list of times it is offered <%= link_to "here", :action => "show", :controller => "topics", :id => @session.topic.id, :only_path => false %>.</p>

<%= render :partial => "reservation", :locals => {
  :session => @session,
  :user => @user,
  :title => "The Cancelled Reservation",
  :except => [:where, :description, :documents]
  } -%>

<p>Our sincere apologies for the inconvenience.</p>

</body>
</html>
