<html>
<head>
  <title>Session Cancelled</title>
  <%= render :partial => "style" %>
</head>
<body>

<p>Hi there <%= user.name %>,</p>

<% if custom_message.present? %>
  <div class="custom-message">
    <%= auto_link(simple_format(custom_message)) %>
  </div>
<% else %>
  <p><%= default_cancellation_message(session) %></p>
<%end%>
  
<p>If you'd like to sign up to take the class at a different time, you can
  see a list of times it is offered <%= link_to "here", topic_url(session.topic.id) %>.</p>

<%= render :partial => "reservation", :locals => {
  :session => session,
  :user => user,
  :title => "The Cancelled Reservation",
  :except => [:where, :description, :documents]
  } -%>

<p>Our sincere apologies for the inconvenience.</p>

</body>
</html>
