<html>
<head>
  <title>Attendance Reminder</title>
  <%= render :partial => "style" %>
</head>
<body>

<p>Hi there <%= user.name %>,</p>

<p> 
  Now that the "<%= session.topic.name %>" class you taught
  has ended it is a good time to record attendance, if you have not
  already done so. You may view or update the attendance record <%= link_to "here", sessions_reservations_url(session) %>.
  <%- if session.topic.certificate? -%>
    Note that students are only able to download certificates of completion if their attendance has been recorded.
  <%- end -%>
</p>

<% case session.topic.survey_type 
  when Topic::SURVEY_INTERNAL %>
  <p>
    A link to the class survey has been sent to all attendees. 
    When completed, you will be able to view the results
    <%= link_to "here", survey_results_session_url( session ) %>.
  </p>
<% when Topic::SURVEY_EXTERNAL %>
  <p>
    A link to the class survey has been sent to all attendees. 
    That survey can be found at <%= link_to nil, session.topic.survey_url %>.
  </p>
<% end %>

<%= render :partial => "reservation", :locals => {
  :session => session,
  :user => user,
  :title => "Session Details",
  :except => [ :who ]
  } -%>

</body>
</html>
