<html>
<head>
  <title>Session Reminder</title>
  <%= render :partial => "style" %>
</head>
<body>

<p>Hi there <%= user.name %>,</p>

<p> 
  Just a friendly reminder: the "<%= session.topic.name %>" class you are teaching
  is coming up! You can view the current list of confirmed reservations
  <%= link_to "here", sessions_reservations_url(session) %>. 
  Don't forget to record the attendance after the session!
</p>

<%= render :partial => "reservation", :locals => {
  :session => session,
  :user => user,
  :title => "Session Details",
  :except => [ :who ]
  } -%>

<p>You can use the attached ICS file to add the session to your calendar software.</p>

</body>
</html>
