<html>
<head>
  <title>Session Update</title>
  <%= render :partial => "style" %>
</head>
<body>

<p>Hi there <%= user.name %>,</p>

<p>The following message was sent to all registered attendees of the session of
   "<%= session.topic.name %>" that you are teaching:</p>

<p><%=raw message %></p>
  
<%= render :partial => "reservation", :locals => {
  :session => session,
  :user => user,
  :title => "Session Details",
  :except => [:who]
  } -%>

<p>You may view or update the details of this session <%= link_to "here", session_url(session) %>.</p>

</body>
</html>
