<html>
<head>
  <title>Reservation Update</title>
  <%= render :partial => "style" %>
</head>
<body>

<p>Hi there <%= user.name %>,</p>

<p>The session on "<%= session.topic.name %>" for which you
  had signed up has had some of its details changed. Please review the
  updated class information below.</p>
  
<%= render :partial => "reservation", :locals => {
  :session => session,
  :user => user,
  :title => "Your Updated Reservation"
  } -%>

<p>If you're unable to attend the class for any reason, please cancel your
reservation <%= link_to "here", reservations_url %>.

<p>If you'd like to sign up to take the class at a different time, you can
see a list of times it is offered  <%= link_to "here", topic_url(session.topic.id) %>. (Be sure to cancel your existing
reservation first!)</p>

</body>
</html>
