<% if model_object.survey_responses.present? %>
  <div id="survey-responses" class="content-section">
    <h2>Survey Results</h2>
    <div class="survey-result">Average Instructor Rating: <%= "%.2f" % model_object.average_instructor_rating %></div>
    <% if model_object.average_applicability_rating > 0 %>
      <div class="survey-result">Average Content Rating: <%= "%.2f" % model_object.average_applicability_rating %></div>
    <% end %>
    <div class="survey-result">Average Overall Rating: <%= "%.2f" % model_object.average_rating %></div>
    <%= usefulness_comments(model_object) %>
    <%= overall_comments(model_object) %>
  </div>
<% else %>
  <div class="empty-list">
    <p>No survey results have been submitted.</p>
  </div>
<% end %>
