<h1>Listing survey_responses</h1>

<table>
  <thead>
    <tr>
      <th>Reservation</th>
      <th>Class rating</th>
      <th>Instructor rating</th>
      <th>Applicability</th>
      <th>Most useful</th>
      <th>Comments</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @survey_responses.each do |survey_response| %>
      <tr>
        <td><%= survey_response.reservation %></td>
        <td><%= survey_response.class_rating %></td>
        <td><%= survey_response.instructor_rating %></td>
        <td><%= survey_response.applicability %></td>
        <td><%= survey_response.most_useful %></td>
        <td><%= survey_response.comments %></td>
        <td><%= link_to 'Show', survey_response %></td>
        <td><%= link_to 'Edit', edit_survey_response_path(survey_response) %></td>
        <td><%= link_to 'Destroy', survey_response, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Survey response', new_survey_response_path %>
