<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=320,user-scalable=yes">
		<meta charset="UTF-8">
		<%= stylesheet_link_tag "global" %>
		<title><%= @page_title %></title>
	</head>
	<body>
		<div class="navigation"><%=h current_user %> | <%= link_to "Your&nbsp;Reservations", reservations_path %> | <%= link_to "Available&nbsp;Topics", topics_path %></div>
		<% unless flash[ :notice ].blank? %>
			<div id="notification"><%=h flash[ :notice ] %></div>
		<% end %>
		<div id="container">
		<h1><%= @page_title %></h1>
		<%= yield %>
		</div>
	</body>
</html>