<!DOCTYPE html>
<html>
	<head>
		<meta name="viewport" content="width=device-width,user-scalable=yes">
		<meta charset="UTF-8">
		<link href="/images/favicon.ico" type="image/x-icon" rel="shortcut icon">
		<%= stylesheet_link_tag "global" %>
		<%= javascript_include_tag :defaults %>
    <%= calendar_date_select_includes %>    
		<title><%= @page_title %></title>
		<%= yield(:head) %>
	</head>
	<body>
    <div class="topbanner">
      <div class="topbanner-shadow"></div>
      <div class="topbanner-content">
        <a class="topbanner-sitename" href="/">Training Reservation System</a>
      </div>
    </div>
    <div class="empty-div-for-stoopid-ie7"></div>
    <div id="container">
      <div class="left-column">
    		<div class="navigation">
    		  <p>
    		    <% if current_user -%>
    		      <%=h current_user.name %> <span class="logout-link">(<%= link_to("log out", '/logout') %>)</span>
    		    <% elsif cas_user -%>
  		        <%=h cas_user %> <span class="logout-link">(<%= link_to("log out", '/logout') %>)</span>
    		    <% end -%>
    		  </p>
    		  <p><%= link_to "Your&nbsp;Reservations", reservations_path %></p>
    		  <p><%= link_to "Available&nbsp;Topics", topics_path %></p>
    		</div>
        <div class="sidebar">
          <%= yield :sidebar %>
        </div>
        <% if authorized? %>
          <div class="admin-tools">
            <h1>ADMIN TOOLS</h1>
      		  <%= yield :admin_tools %>
            <p><%= link_to "Manage Topics", manage_topics_path %></p>
            <% if current_user.admin? %>
              <p><%= link_to "Manage Departments", manage_departments_path %></p>
            <% end %>
          </div>
        <% end %>
      </div>
  		<div id="right-column">
        <% unless flash[ :notice ].blank? %>
          <div id="notification"><%=h flash[ :notice ] %></div>
        <% end %>
        <% unless flash[ :error ].blank? %>
          <div id="error"><%=h flash[ :error ] %></div>
        <% end %>
  		  <div id="contents">
  		    <h1><%= image_tag(@title_image, :class=>"title-image") if @title_image %><%= @page_title %></h1>
  		    <%= yield(:content) or yield %>
  		  </div>
  		</div>
    </div>

	</body>
</html>
